name: Continuous Integration - Build & Test

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build_test_x86_64:
    name: Build and Test x86_64 Node v${{ matrix.node }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os: [macos-11, macos-12, macos-13, ubuntu-20.04, ubuntu-22.04, windows-2019, windows-2022]
        node: [16]
    steps:
      - name: Checkout Project
        uses: actions/checkout@v3

      - name: Add problem matcher
        run: echo "::add-matcher::.github/problemMatchers/tsc.json"

      - name: Use Node.js v${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: yarn
          registry-url: https://registry.yarnpkg.org/

      - name: Install Dependencies
        run: yarn --immutable --mode=skip-build

      - name: Build From Source
        run: yarn gyp:build-from-source

      - name: Build Code
        run: yarn build

      - name: Test Code
        run: yarn vitest run

  build_test_x86_64_node_ge_18:
    name: Build and Test x86_64 node >= 18
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os: [macos-11, macos-12, macos-13, ubuntu-20.04, ubuntu-22.04, windows-2019, windows-2022]
        node: [18, 19, 20]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Add problem matcher
        run: echo "::add-matcher::.github/problemMatchers/tsc.json"

      - name: Use Node.js v${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: yarn
          registry-url: https://registry.yarnpkg.org/

      - name: Install dependencies
        run: yarn --immutable --mode=skip-build

      - name: Build From Source
        run: yarn gyp:build-from-source

      - name: Package build
        run: yarn build

      - name: Test Code
        run: yarn vitest run

  build_test_musl_x86_64:
    name: Build and Test x86_64(musl)
    runs-on: ubuntu-latest
    timeout-minutes: 10
    container:
      image: node:${{ matrix.node }}-alpine
    strategy:
      fail-fast: false
      matrix:
        node: [16, 18, 19, 20]
    steps:
      - name: Setup env with Node v${{ matrix.node }}
        run: |
          apk add --update
          apk add --no-cache ca-certificates git curl build-base python3 g++ make

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Add problem matcher
        run: echo "::add-matcher::.github/problemMatchers/tsc.json"

      - name: Install dependencies
        run: yarn --immutable --mode=skip-build

      - name: Build From Source
        run: yarn gyp:build-from-source

      - name: Package build
        run: yarn build

      - name: Test Code
        run: yarn vitest run

  build_test_aarch64:
    name: Build and Test aarch64
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04]
        node: [16]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Add problem matcher
        run: echo "::add-matcher::.github/problemMatchers/tsc.json"

      - name: Use Node.js v${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: yarn
          registry-url: https://registry.yarnpkg.org/

      - name: Install dependencies
        run: yarn --immutable --mode=skip-build

      - name: Build From Source
        run: yarn gyp:build-from-source

      - name: Package build
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-aarch64-linux-gnu g++-aarch64-linux-gnu
          CC=aarch64-linux-gnu-gcc CXX=aarch64-linux-gnu-g++ yarn node-pre-gyp --target_arch=arm64 configure build package

      - name: Make TypeScript Build
        run: yarn ts:build && yarn ts:esm

      - name: Test Code
        run: yarn vitest run

  build_test_aarch64_node_ge_18:
    name: Build and Test aarch64 node >= 18
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04]
        node: [18, 19, 20]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Add problem matcher
        run: echo "::add-matcher::.github/problemMatchers/tsc.json"

      - name: Use Node.js v${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: yarn
          registry-url: https://registry.yarnpkg.org/

      - name: Install dependencies
        run: yarn --immutable --mode=skip-build

      - name: Build From Source
        run: yarn gyp:build-from-source

      - name: Package build
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-aarch64-linux-gnu g++-aarch64-linux-gnu
          CC=aarch64-linux-gnu-gcc CXX=aarch64-linux-gnu-g++ yarn node-pre-gyp --target_arch=arm64 configure build package

      - name: Make TypeScript Build
        run: yarn ts:build && yarn ts:esm

      - name: Test Code
        run: yarn vitest run

  build_test_musl_aarch64:
    name: Build and Test aarch64(musl)
    runs-on: ubuntu-latest
    timeout-minutes: 10
    container:
      image: node:${{ matrix.node }}-alpine
    strategy:
      fail-fast: false
      matrix:
        node: [16, 18, 19, 20]
    steps:
      - name: Setup env with Node v${{ matrix.node }}
        run: |
          apk add --update
          apk add --no-cache ca-certificates git curl build-base python3 g++ make

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Add problem matcher
        run: echo "::add-matcher::.github/problemMatchers/tsc.json"

      - name: Setup musl cross compiler
        run: |
          curl -OL https://musl.cc/aarch64-linux-musl-cross.tgz
          tar -xzvf aarch64-linux-musl-cross.tgz
          $(pwd)/aarch64-linux-musl-cross/bin/aarch64-linux-musl-gcc --version

      - name: Install dependencies
        run: yarn --immutable --mode=skip-build

      - name: Build From Source
        run: yarn gyp:build-from-source

      - name: Package build
        run: |
          CC=$(pwd)/aarch64-linux-musl-cross/bin/aarch64-linux-musl-gcc \
          CXX=$(pwd)/aarch64-linux-musl-cross/bin/aarch64-linux-musl-g++ \
          yarn node-pre-gyp --target_arch=arm64 configure build package

      - name: Make TypeScript Build
        run: yarn ts:build && yarn ts:esm

      - name: Test Code
        run: yarn vitest run
